.container {
    padding: 0; 
    margin: 0; 
}
.card-text {
    overflow: hidden;
    text-overflow: ellipsis; 
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical; 
}
.card-title{
      overflow: hidden;
    text-overflow: ellipsis; 
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical; 
}

.out-of-stock {
  color: red;
}

.in-stock {
  color: green;
}

.last-item {
  color: orange;
}