<div class="container ">
    

    <input [(ngModel)]="filterByname" class="form-control" placeholder="write Name Filter">
  <div class="row ">
<!-- <h1>Total price {{}}</h1> -->

@for(item of filteredProducts  ; track item.id){
 <div class="col-4">

    <div class="Card"   appCardStyle  >
        <img [src]="item.productImgUrl" class="card-img-top"  alt="" srcset="">
         <div class="card-body">
          <h5 class="card-title">{{ item.productName }}</h5>
          <p class="card-text">{{item.productDetails}}</p>
          <p class="card-text">q: {{ item.productQuantity }}</p>
          <p class="card-text">price: {{ item.productPrice }}</p>
          <div class="d-flex justify-content-between">
@switch(item.productQuantity){
    @case (0)
    { <p [ngStyle]="{'color': (item.productQuantity == 0) ? 'red' : 'black'}"> out of stock</p>}

    @case (1){
        <p  [ngClass]="{'last-item': item.productQuantity == 1}" >last item</p>
    }
    @default{
        <p [style.color]="(item.productQuantity == 0) ? 'black' : 'green'">available</p>
    }
}
<button class="btn btn-primary " [disabled]="item.productQuantity == 0"  (click)="countQty(item)"> add to cart </button>

</div>

    </div>
    </div>
    </div>
}



</div>
    </div>