<footer class="bg-light text-center text-lg-start"  data-bs-theme="dark">
  <div class="container p-4">
    <div class="row">
      <div class="col-lg-6 col-md-12 mb-4">
        <h5 class="fw-bolder">eStore</h5>
        <p>
          Welcome to eStore! Your one-stop shop for all your needs. Enjoy great deals and discounts.
        </p>
      </div>
      <div class="col-lg-6 col-md-12 mb-4">
        <h5 class="text-capitalize">Links</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#" class="text-dark">Home</a>
          </li>
          <li>
            <a href="#" class="text-dark">About</a>
          </li>
          <li>
            <a href="#" class="text-dark">Services</a>
          </li>
          <li>
            <a href="#" class="text-dark">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="text-center p-3" style="background-color: #191919; color: aliceblue;" data-bs-theme="dark">
    © 2023 eStore. All rights reserved.
  </div>
</footer>