<!-- <button (click)="addNewUser()">Add New User</button> -->

<form class="form-horizontal" (ngSubmit)="addNewUser()" #signup ="ngForm">
      <div class="form-group">
    <label class="control-label col-sm-2" for="fname">First name:</label>
    <div class="col-sm-10">
      <input type="text"
       class="form-control" 
       id="fname"
        placeholder="Enter first name"
        required
        [(ngModel)]="userProp.fname"
        name="fname"
        minlength="3"
        #fname="ngModel"
        [ngClass]="{'is-invalid':(fname.dirty || fname.dirty) && fname.invalid , 'is-valid':fname.valid}"
       
        >
    </div>

    <div class="invalid-feedback">
      @if (fname.errors?.['required']){
      <p> fname is required</p>

      }@else if (fname.errors?.['minlength']){    
        
        <p> fname at least 3 digit</p>
}
    </div>
  </div>
    <div class="form-group">
    <label class="control-label col-sm-2" for="lname">Last name:</label>
    <div class="col-sm-10">
      <input type="text" 
      class="form-control" 
      id="lname" 
      placeholder="Enter last name"
    [(ngModel)]="userProp.lname"
    name="lname"
    minlength="3"
        #lname="ngModel"
        [ngClass]="{'is-invalid':(lname.dirty || lname.dirty) && lname.invalid , 'is-valid':lname.valid}"
>
    </div>
    <div class="invalid-feedback">
      @if (fname.errors?.['required']){
      <p> lname is required</p>

      }@else if (fname.errors?.['minlength']){    
        
        <p> lname at least 3 digit</p>
}
    </div>
  </div>
  
  <div class="form-group">
    <label class="control-label col-sm-2" for="email">Email:</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="email" placeholder="Enter email"
              [(ngModel)]="userProp.email"
              name="email"
>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="pwd">Password:</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="pwd" placeholder="Enter password"
              [(ngModel)]="userProp.password"
              name="password"
>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="address">Address:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="address" placeholder="Enter Address"
              [(ngModel)]="userProp.address"
              name="address"
>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default" [disabled]="signup.invalid">Submit</button>
    </div>
  </div>
</form>
