/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Success Snackbar */
.success-snackbar {
  background-color: #4caf50 !important;
  color: white !important;
}

.success-snackbar .mat-mdc-button {
  color: white !important;
}

/* Error Snackbar */
.error-snackbar {
  background-color: #f44336 !important;
  color: white !important;
}

.error-snackbar .mat-mdc-button {
  color: white !important;
}

/* Info Snackbar */
.info-snackbar {
  background-color: #2196f3 !important;
  color: white !important;
}

.info-snackbar .mat-mdc-button {
  color: white !important;
}